<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Greetings</title>
    <meta charset="utf-8">
</head>
<body style="margin:0; box-sizing:border-box; padding: 16px; min-height:100svh; display:flex; align-items:center; justify-content:center;">
<table style="width:555px;">
    <tr>
        <td style="text-align:center;">
            <a href="http://localhost:8080"><img style="width:99px; height:99px; border-radius: 50%; box-shadow: 0 0 2.5px rgba(0,0,0,.25);" src="https://i.imgur.com/PzgTpTz.png" alt=""></a>
            <h1 style="margin-bottom:33px;">Olá <span style="color:#c026d3;">{username}</span>, seja bem-vindo(a)!</h1>
            <h3 style="margin-bottom:33px;">Gratidão por sua confiança! Porém, no momento a sua conta se encontra <strong style="text-decoration:underline;">desativada</strong>.</h3>
            <h3 style="margin-bottom:33px;">Para ativá-la basta cliclar no botão abaixo. A comunidade conta com a sua contribuição!</h3>
            <h3 style="margin-bottom:33px; color:#7B7D7D;"><i>"Instrua o homem sábio, e ele será ainda mais sábio; ensine o homem justo, e ele aumentará o seu saber."</i> - <strong>Provérbios 9:9</strong></h3>
            <div style="margin-bottom:33px;">
                <h3>
                    <a href="http://localhost:8080/api/v1/users/active/{id}" style="text-decoration:none; background-color:#c026d3; padding:16px 32px; color:#fff; border-radius:4px 12px">Ativar Conta</a>
                </h3>
            </div>
            <h4 style="color:#7B7D7D;">Caso você não tenha feito o cadastro, não se preocupe, esta conta permanecerá desativada e será excluída do nosso banco de dados depois de 7 dias após o envio da mensagem caso não seja ativada.</h4>
            <h3>Atenciosamente, um não seguidor de Mamom.</h3>
        </td>
    </tr>
</table>
</body>
</html>